
<script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
<h2>{{ now|date('m.d.Y') }} {{ now|date('h:i A') }}</h2>


Hello {{ fname }} {{ lname }} form twig template, reporting for duty!  
<p>

{% for item in kids %}
    <li>{{ loop.index }}: {{ item|title }}</li>
{% endfor %}

</p>

<p>

{% filter upper %}
	{{ kids|join(', ') }}
{% endfilter %}

</p>


<p>

{{ kids|join(' - ')|upper }}

</p>

<p>

{% filter title %}
	{{ family.father }} <br />
	{{ family.mother }} <br />
	{{ family.daughter1 }} <br />
	{{ family.son1 }} <br />
	{{ family.daughter2 }} <br />
	{{ family.son2 }} <br />
{% endfilter %}

</p>

<p>

{{ family|join('<br>') }}<br/>
{{ dogs|join('<br>') }}


</p>

<p>

{% set full = fname %}

{{ full }}

</p>

<div id="myForm">
	{{ form_open() }}
	{{ form_label('test','Test:') }}
	<input type='text' value='{{fname}}' />
	{{ form_close() }}
</div>


<p>
Developed by: {{ designer }}
</p>
